
#cost{
    /* font-weight: bold; */
    margin-right: .25em;
    font-size: 22px;
    /* height: 100%; */
}

/* #night{
    height: 100%;
} */

#price{
    font-size: 16px;
}

#reserve-button{
    background-color: #DC2062;
    border: none;
    width: 98%;
    height: 3.5em;
    border-radius: 1rem;
    color: white;
    font-size: 1em;
}

#checkin-dates{
    /* background-color: orange; */
    width: 98%;
    /* height: 40%; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    border: grey solid 1px;
    border-radius: .5rem;
    cursor: pointer;
}

#top-b{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
/* might need to give bottom div a margin bottom */


#rare-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.booking-box{
    /* background-color: #DC2062; */
    border: darkgray solid 1px;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

#pri-and-ni{
    display: flex;
    justify-content: flex-start;
    height: 4rem;
    width: 100%;
}

.inner-box{
    width: 90%;
    /* height: 95%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dia-div{
    height: 2rem;
    width: 2rem;
}

#diamond{
    height: 100%;
    width: 100%;
}

#find-txt{
    width: 80%;
}

/* the div that holds the chin/out - need to center it */
.dt-holder{
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dt-holder > div {
    padding-left: 1em;
    padding-right: 1em;
}

#ch-in{
    border-right :  rgb(153, 150, 150) solid 1px;
    border-bottom:  darkgray solid 1px;
    width: 50%;
    /* text-align: center; */
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;

}

#ch-out{
    /* border: darkgray solid 1px; */
    border-bottom:  darkgray solid 1px;
    width: 50%;
    /* text-align: center; */
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
}

.c-text{
    font-size: smaller;
    font-weight: bold;
}

#num-of-g{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#num-of-g > p, i {
    padding-left: 1em;
    padding-right: 1em;

}
#num-of-g:active{
    border: black 1px solid;
    border-radius: .50em;
    z-index: 2;
}


.fa-solid.fa-angle-down{
    text-align: center;
    text-justify: center;
}

/* adult and children cont */
.gst-drop{
    background-color: #FFFFFF;
    /* background-color: indianred; */
    width: 88.5%;
    position: absolute;
    top: 11.5em;
    z-index: 3;
    border-radius: .5rem;
    height: 15em;
    display: flex;
    justify-content: space-around;
    /* align-content: space-between; */
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* person and counter */
.gst-d{
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
}



.trk{
    width: 35%;
}

#c-gst{
    width: 4rem;
    border-radius: .5rem;
    cursor: pointer;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}


#c-gst:hover{
    background-color: lightgrey;
    /* height: 1rem; */
    width: 4rem;
    border-radius: .5rem;
    cursor: pointer;
}

.c-cls{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* background-color: red; */
    /* padding-right: 5em; */
}

.sml-tx{
    /* font-size: 1em; */
    /* color: pink; */
    margin-top: 1px;
}

.bg-tx{
    margin-bottom: 0;
    font-size: 1.25em;
}


/* The Calendar div*/
.cal{

    background-color: aqua;
    z-index: 5;
    position: absolute;

}


.calCompo{
    /* background-color: pink; */
    margin-top: 0;
    padding: 0;
    display: inline;
}
