
#cost{
    /* font-weight: bold; */
    margin-right: .25em;
    font-size: 22px;
    /* height: 100%; */
}

#night{
    /* height: 100%; */
}

#price{
    font-size: 16px;
}

#reserve-button{
    background-color: #DC2062;
    border: none;
    width: 85%;
    height: 13%;
    border-radius: 1rem;
    color: white;
    font-size: 1em;
}

#checkin-dates{
    /* background-color: orange; */
    width: 85%;
    /* height: 40%; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    border: grey solid 1px;
    border-radius: .5rem;
    cursor: pointer;
}

#top-b{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
/* might need to give bottom div a margin bottom */


#rare-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.booking-box{
    /* background-color: #DC2062; */
    border: darkgray solid 1px;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pri-and-ni{
    display: flex;
    justify-content: flex-start;
    height: 4rem;
    width: 100%;
}

.inner-box{
    width: 90%;
    /* height: 95%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dia-div{
    height: 2rem;
    width: 2rem;
}

#diamond{
    height: 100%;
    width: 100%;
}

#find-txt{
    width: 80%;
}

/* the div that holds the chin/out - need to center it */
.dt-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dt-holder > div {
    padding-left: 1em;
    padding-right: 1em;
}

#ch-in{
    border-right :  darkgray solid 1px;
    border-bottom:  darkgray solid 1px;
    width: 50%;
    /* text-align: center; */


}

#ch-out{
    /* border: darkgray solid 1px; */
    border-bottom:  darkgray solid 1px;
    width: 50%;
    /* text-align: center; */
}

#num-of-g{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#num-of-g > p, i {
    padding-left: 1em;
    padding-right: 1em;

}
#num-of-g:active{
    border: black 1px solid;
    border-radius: .50em;
    z-index: 2;
}


.fa-solid.fa-angle-down{
    text-align: center;
    text-justify: center;
}
