.spots-num-and-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.center-spots-num-and-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.manage-spots-title{
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spots-heading{
    /* background-color: antiquewhite; */
    width: 75%;
}

.heading-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-weight: bolder;
    font-size: large;
    border: black solid 3px;
    margin-bottom: 3rem;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    /* border-bottom-style: black solid 3px; */
}

.low{
    background-color: black;
    color: white;
    border: black solid 1px;
    border-radius: 5px;
}

.low:hover{
    cursor: pointer;
    border: black solid 1px;
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 1px 1px 3px 1px darkgrey;
}

#user-spots{
    border: black solid 1px;
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    margin-bottom: 4rem;
}

/* .center-spot-slots{
    /* background-color: olivedrab; */
    /* width: 85%; */
/* } */

.fa-solid.fa-house-chimney-user:hover{
   box-shadow: 1px 1px 8px 1px darkgray;
   border-radius: 50%;
}

#pic-name {
    /* border: black solid 1px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.center-spot-name{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#spot-name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#spot-pic{
    height: 50px;
    width: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#spot-pic:hover{
    cursor: pointer;
    /* box-shadow: 1px 1px 3px 1px darkgrey; */
}

#spot-slots{
    /* background-color: blueviolet; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.edit-and-delete{
    /* background-color: red; */
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#create{
    width: 150px;
    height: 50px;
    text-decoration: none;
    background-color: #037afb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: none;
}

#create:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px darkgrey;
}

.lo-delete-manage-spots{
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    color: black;
}

.lo-delete-manage-spots:hover{
    cursor: pointer;
    background-color: red;
    box-shadow: 1px 1px 3px 1px darkgrey;
}
