

#g-count{
    /* background-color: skyblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: darkgray; */
}

.round{
    border: darkgray solid 1px;
    border-radius: 50%;
}

.round:hover{
   border : black solid 1px;
}

#sub{
    /* height: 100%;
    width: 100%; */
    color: darkgray;
    cursor: pointer;


}
#add{
    /* height: 100%;
    width: 100%; */
    color: darkgray;
    cursor: pointer;


}
.fill{
    height: 2em;
    width: 2em;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid.fa-minus.fa-plus{
    /* font-size: 2em; */
    height: 100%;
    width: 100%;
    color: darkgray;

}

.fa-plus:hover{
    color: black
}

.fa-minus:hover{
    color: black
}

#sub-disable:hover{
    cursor:not-allowed;
    border: rgb(156, 156, 156);
}


/* .round ~ i:hover{
    color: black;
} */


#sub-grey{
    border: lightgray solid 1px;
    color: lightgray;

}

#sub-grey:hover{
    border: lightgrey solid 1px;
}

#dis-i:hover{color: lightgray}

#g-ct-num > p{
    font-size: 1em;
}

#add-disable{
    cursor:not-allowed;
    border: rgb(156, 156, 156);
}
#dis-add{color:lightgrey}

.round-dis{
    border: darkgray solid 1px;
    border-radius: 50%;
}
