.rev-form-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: paleturquoise; */
    width: 100%;
    min-height: 10rem;
    border: black solid 2px;
    border-radius: 15px;
}



.rev-form{
    /* border: black solid 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.review-input-m{
    width: 55rem;
    height: 6rem;
    resize: none;
    border: none;
    outline: none;
    /* background-color: black; */
}

#r-bat{
    /* background-color: orange; */
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#r-sub{
    /* padding-bottom: 1rem; */
    background-color: black;
    border: none;
    color: white;
    border-radius: 6px;
    width: 5rem;
    height: 1.5rem;
}

/* #r-sub::disabled{
    background-color: rgb(253, 186, 186);
} */
