#rev-modal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    overflow-y: scroll;
    width: 50h;
    height: 70vh;
    display: flex;
    scroll-snap-type: y mandatory;
}

#review-c-m{
    /* background-color: plum; */
    width: 100%;
    height: 100%;
    /* height: 50vh; */
    display: flex;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* #rev-text-r{
    width: 50vw;
    height: 100px;
} */

/* #rev-box{
    border: orange solid 3px;
    /* height: 40vh; */
    /* width: 100%; */
