.profile-dropdown {
  position: absolute;
}


.navi{
  width: 100vw;
  height: 4rem;
  border: green solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navi-box-child{
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbox{
  padding-left: 80%;
  position: absolute;
  width: 200px;
  display: flex;
  align-items: center;
  /* justify-items: flex-start; */
  flex-direction: row;
}

#test{
  background-color: olivedrab;
  /* width: 300px; */
}
